#gMap{
    width: 500px;
    height: 500px;
}

#coordsLoaded{
    display: none;
}

#theSlider{
    background-color: orangered;
    height: 100px;
    width: 850px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}

#theSlider a{
    color: black;
}

.sliderThumb img{
    width:65px;
    height:65px;
}

*{
	box-sizing: border-box;
}
body{
	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 47%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
header{
	height: 65px;	
	background: rgb(207,4,4); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(207,4,4,1) 0%, rgba(255,48,25,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(207,4,4,1) 0%,rgba(255,48,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(207,4,4,1) 0%,rgba(255,48,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=0 ); /* IE6-9 */
	border-bottom: solid 2px #660000;
	box-shadow: 0px 0px 5px 1px #690601;
}
#header{
	height: 64px;
	border-bottom: solid 1px #ff8080;
}
#logo0{
	height: 65px;
	width: 116px;
	border-right: solid 2px #660000;
}
#logo1{
	padding: 5px;
	height: 65px;
	width: 115px;
	border-right: solid 1px #ff8080;
}
header h1 {
	display: inline;
	font-family: 'Fredoka One', cursive;
	color: white;
	font-size: 3em;
}
header h1:first-child{
	color: black;
}
nav{
	top: -40px;
	display: block;
	position: relative;
	text-align: center;
}
li{
	height: 20px;
	width: 80px;
	float: right;
	display: inline-block;
}
a{
	text-decoration: none;
	color: white;
}
main{
	height: 400px;
}
footer{
	height: 50px;
	width: 100%;
	border-top: solid 1px grey;	
	
}
footer p{
	border-top: solid 1px white;	
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	height: 50px;
	width: 100%;
	padding-top: 15px;
	text-align: center;
	color: grey;
}